In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import time
import random
import numpy as np

In [ ]:
link=pd.read_csv('links.csv')

In [ ]:
link

      movieId   imdbId    tmdbId
0           1   114709     862.0
1           2   113497    8844.0
2           3   113228   15602.0
3           4   114885   31357.0
4           5   113041   11862.0
...       ...      ...       ...
9737   193581  5476944  432131.0
9738   193583  5914996  445030.0
9739   193585  6397426  479308.0
9740   193587  8391976  483455.0
9741   193609   101726   37891.0

[9742 rows x 3 columns]

In [ ]:
URL='https://www.imdb.com/title/tt0'

In [ ]:
delay=int(random.randint(10,39)/10)

In [ ]:
delay

2

In [ ]:
len(link)

9742

In [ ]:
syn=[[]]

In [ ]:
len(syn)

1

In [ ]:
len(str(link.imdbId[0]))

6

In [ ]:
URL1='https://www.imdb.com/title/tt00'

In [ ]:
URL2='https://www.imdb.com/title/tt'

In [ ]:
for i in range(0,len(link)+1):
  delay=int(random.randint(10,49)/10)
  if len(str(link.imdbId[i]))==6:
   
    r=requests.get(URL+str(link.imdbId[i]))
    soup=BeautifulSoup(r.text,'html.parser')
    try:
      synopsis=soup.find('div',attrs={'class':'ipc-html-content ipc-html-content--base'}).text
      
      synopsis=synopsis.replace("\'s", 's')
      syn.append([synopsis,link.imdbId[i]])
    except:
      
      print('Error')
      syn.append([' ',link.imdbId[i]])
    
    time.sleep(delay)
  elif len(str(link.imdbId[i]))==5:

    r=requests.get(URL1+str(link.imdbId[i]))
    soup=BeautifulSoup(r.text,'html.parser')
    try:
      synopsis=soup.find('div',attrs={'class':'ipc-html-content ipc-html-content--base'}).text
      
      synopsis=synopsis.replace("\'s", 's')
      syn.append([synopsis,link.imdbId[i]])
    except:
      print('error')
      syn.append([' ',link.imdbId[i]])
    
    time.sleep(delay)
  elif len(str(link.imdbId[i]))==7:
    r=requests.get(URL2+str(link.imdbId[i]))
    soup=BeautifulSoup(r.text,'html.parser')
    try:
      synopsis=soup.find('div',attrs={'class':'ipc-html-content ipc-html-content--base'}).text
      
      synopsis=synopsis.replace("\'s", 's')
      syn.append([synopsis,link.imdbId[i]])
    except:
      print('error')
      syn.append([' ',link.imdbId[i]])
    else:
      print(i)
    
    time.sleep(delay)

#link['synopsis']=syn
#link.to_csv('nice.csv',index=False)

error
Error
Error
Error

KeyboardInterrupt: ignored

In [ ]:
df=pd.DataFrame(syn,columns=['synopsis','id'])

In [ ]:
df.isna()

     synopsis     id
0        True   True
1       False  False
2       False  False
3       False  False
4       False  False
..        ...    ...
861     False  False
862     False  False
863     False  False
864     False  False
865     False  False

[866 rows x 2 columns]

In [ ]:
df = df.iloc[1: , :]

In [ ]:
df.to_csv('partial.csv',index=False)